<div class="blog-list">
  <div class="outer">
    <div class="content-wrapper">
      <div class="container-fluid py-5">
        <div class="row">
          <div class="col-md-8">
            {{#each (take 1 (sort-by "date:desc" blogs)) as |blog|}}
              <div class="article d-flex large mb-3 {{if blog.thumbnail ' background-image'}}" style="{{blog.thumbnail.inlineBackground}}">
                <div class="teaser align-self-end py-1 px-3">
                  <div class="title">
                    <div class="date">
                      {{moment-format blog.date 'MMMM D, YYYY'}}
                    </div>
                    <LinkTo @route="connections.blogpost" @model={{blog.id}} class="h3">{{blog.title}}</LinkTo>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="col-md-4">
            {{#each (drop 1 (take 3 (sort-by "date:desc" blogs))) as |blog|}}
              <div class="article d-flex mb-3 {{if blog.thumbnail ' background-image'}}" style="{{blog.thumbnail.inlineBackground}}">
                <div class="teaser align-self-end py-1 px-3">
                  <div class="title">
                    <div class="date">
                      {{moment-format blog.date 'MMMM D, YYYY'}}
                    </div>
                    <LinkTo @route="connections.blogpost" @model={{blog.id}} class="h3">{{blog.title}}</LinkTo>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="row">
          {{#each (drop 3 (sort-by "date:desc" blogs)) as |blog|}}
            <div class="col-md-4">
              <div class="article d-flex mb-3 {{if blog.thumbnail ' background-image'}}" style="{{blog.thumbnail.inlineBackground}}">
                <div class="teaser align-self-end py-1 px-3">
                  <div class="title">
                    <div class="date">
                      {{moment-format blog.date 'MMMM D, YYYY'}}
                    </div>
                    <LinkTo @route="connections.blogpost" @model={{blog.id}} class="h3">{{blog.title}}</LinkTo>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>