<div class="news-list">
  <div class="outer">
    <div class="content-wrapper">
      <div class="container-fluid">
        {{#each (sort-by "date:desc" articles) as |article|}}
          <div class="article row">
            <div class="image text-center d-flex align-items-center justify-content-center col-12 col-md-4 col-lg-3">
              {{#if article.thumbnail}}
                <img src="{{article.thumbnail.fullUrl}}" class="img-fluid">
              {{else}}
                <div class="img"></div>
              {{/if}}
            </div>
            <div class="teaser py-3 col-12 col-md-8 col-lg-9">
              <div class="title">
                <div class="date">
                  {{moment-format article.date 'MMMM D, YYYY'}}
                </div>
                <h2>{{article.title}}</h2>
              </div>
              <div class="intro">
                {{html-safe article.intro.value}}
                {{#if article.useDownload}}
                  <a href="{{article.file.fullUrl}}" target="_blank" class="more">Download PDF</a>
                {{else}}
                  {{#if article.articleUrl}}
                    <a href="{{article.articleUrl}}" target="_blank" class="more">Visit Site</a>
                  {{else}}
                    <LinkTo @route="connections.post" @model={{article.id}} class="more">Read More</LinkTo>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>