<div id="snapshot">
  {{#if snap}}
  {{#liquid-bind snap use="toRight" enableGrowth=false class="snap-container"}}
    <div class="snapshot-wrapper">
      <div class="container-fluid">
        <div class='row snapshot display align-items-center'>
          <h1 class="text-center">Real-Life Snapshots</h1>
          <div class="image">
            <div class='inner'>
              <img src="{{snap.image.url}}" class="img-fluid">
            </div>
          </div>
          <div class="title">{{snap.title}}</div>
          <div class="controls">
            {{#if (has-next snap useDeepEqual snaps)}}
              <div class="next">
                <button onclick={{action (mut snap) (next snap snaps)}}>Next</button>
              </div>
            {{/if}}
            {{#if (has-previous snap useDeepEqual snaps)}}
              <div class="prev">
                <button onclick={{action (mut snap) (previous snap snaps)}}>Previous</button>
              </div>
            {{/if}}
          </div>
          {{#each snap.section as |section|}}
            {{page-section section=section}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/liquid-bind}}
  {{/if}}
</div>