<div class="overlay-container">
  {{#each page.section as |section|}}
    <PageSection @section={{section}} @selectSnapshot={{action "selectSnapshot"}} />
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
{{#with (filter-by "displayOn" "clarity" snapshots) as |snaps|}}
  <SnapDisplay @snap={{selectedSnapshot}} @snaps={{snaps}} />
{{/with}}