<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        <LinkTo @route="about.your-priority" class="col text-left"><i class="fas fa-caret-circle-up"></i>&nbsp;What's Your Priority</LinkTo>
        <LinkTo @route="about.your-team" class="col text-right">Meet Your Team&nbsp;<i class="fas fa-caret-circle-down"></i></LinkTo>
      </div>
    </div>
  </div>
  {{#each page.section as |section|}}
    <PageSection @section={{section}} @selectSnapshot={{action "selectSnapshot"}} />
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
{{#with (filter-by "displayOn" "how-different" snapshots) as |snaps|}}
  <SnapDisplay @snap={{selectedSnapshot}} @snaps={{snaps}} />
{{/with}}
