
<div class="overlay-container">
  <div class="team-profile">
    <div class="outer">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row'>
            <div class='profile'>
              <div class='image text-center' style="{{profile.image.inlineBackground}}">
                <div class='inner'>
                  <div class="name">
                      {{profile.firstName}} {{#if profile.middleInitial}} {{profile.middleInitial}}{{/if}} {{profile.lastName}}
                    <div class='title'>
                      {{profile.professionalTitle}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>