
{{#each page.section as |section|}}
  {{#if section.show}}
  <section class="page-section">
    <div class="outer d-flex {{section.background}} {{section.heroSize}}{{if section.isHero ' hero-active'}}{{if section.divider ' divided'}}{{if section.backgroundImage ' background-image'}}" style="{{section.backgroundImage.inlineBackground}}">
      <div class='overlay {{section.overlay}}'>
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class='row {{section.colVerticalAlignment}} {{section.colHorizontalAlignment}} {{if section.reverse 'flex-sm-row-reverse'}}'>

            {{#each section.column as |column|}}
              <div class='section-column {{column.columnWidthXs}} {{column.columnWidthSm}} {{column.columnWidthMd}} {{column.columnWidthLg}} {{column.columnWidthXl}} {{column.alignment}} {{column.css}}'>

              {{#each column.element as |element|}}

                {{#if element.body }}
                  <div class='element-text col'>
                    <div class='inner'>
                      {{html-safe element.body.processed}}
                    </div>
                  </div>

                {{/if}}
              {{/each}}

              </div>
            {{/each}}

            </div>
          </div>
        </div>
      </div>
      <div class='arrow-nav financial-life'>
        <ul>
          <li>
          <LinkTo @route="about" class="arrow-up">About</LinkTo>
          </li>
          <li>
          <LinkTo @route="investment" class="arrow-down">How We Invest</LinkTo>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {{/if}}
{{/each}}

<div class="slideover">
  {{liquid-outlet enableGrowth=false}}
</div>

